#experts-img {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  border-radius: 20px;
}

#experts-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: 30% 100%;
}

#experts_svg {
  top: 0;
  left: 0;
  width: 300px;
  height: 134px;
  z-index: 9999;
}

.button {
  border: none;
  border-radius: 40px;
  background-color: #050505;
  color: whitesmoke;
  padding: 13px 63px;
}

.experts-content h2 {
  font-size: 4.44vw;
}

.experts-symbol {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-right: 7px;
  background-color: #dbec62;
  border-radius: 50%;
}

.btn-svg {
  top: 17px;
  right: 19px;
  width: 17px;
  height: 17px;
}

.btn-arrow-bg {
  top: 2px;
  right: 5px;
  width: 45px;
  height: 45px;
  background-color: #dbec62;
  border-radius: 50px;
}
