#posts {
  background-color: #050505;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  color: whitesmoke;
}

#numbers {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

#numbers h2 {
  font-size: 6.67vw;
  line-height: 7.22vw;
}
#numbers p {
  margin: 0;
  text-align: center;
  font-size: 1.11vw;
  line-height: 1.89vw;
}

.latest-posts {
  padding-bottom: 20px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.latest-posts h2 {
  font-size: 3.33vw;
}

.latest-posts p {
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 1.89vw;
}

.latest-posts h5 {
  letter-spacing: 0.14vw;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.89vw;
  font-weight: 400;
  line-height: 1.44vw;
}

.single-post h4 {
  font-size: 2vw;
  line-height: 3vw;
}
.single-post-img {
  border-radius: 20px;
  height: 25vw;
  position: relative;
  overflow: hidden;
  width: 400px;
}

.single-post img {
  width: 100%;
  height: 100%;
}

.single-post .author_img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.author-name h5 {
  font-size: 1vw;
}

.author-name::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 28px;
  background-color: whitesmoke;
  width: 44px;
  height: 1px;
}

.category {
  background-color: #dbec62;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #050505;
  border-radius: 40px;
}

.posts-button button {
  border: none;
  background-color: #dbec62;
  color: #050505;
  border-radius: 40px;
  width: 225px;
  font-size: 1.2vw;
  height: 55px;
}

.btn-svg {
  top: 20px;
  right: 19px;
  width: 17px;
  height: 17px;
}

.btn-arrow-bg {
  top: 4px;
  right: 4px;
  width: 48px;
  height: 48px;
  background-color: #050505;
  border-radius: 50px;
}
